@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.my-btn{
    background-color: #0000ff !important;
    color: white;
}

.my-backround{
    background-color: "#333333"
}

.my-tooltip{
}