@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.my-btn{
    background-color: #0000ff ;
    @apply rounded-xl shadow-lg h-10 text-yellow-50 hover:bg-blue-950 
}

.cancel-btn{
    background-color: #7c7c7c ;
    @apply rounded-xl shadow-lg h-10 text-yellow-50 hover:bg-gray-950
}
.my-backround{
    background-color: "#333333"
}


.my-tooltip{
    @apply  hidden bg-blue-950 text-black text-xs rounded p-1 absolute  -mt-8 left-1/2 transform -translate-x-1/2
}

.my-label{
    @apply  text-white px-4 py-2 rounded transition duration-300 group-hover:bg-blue-950;
}

.my-input{
    @apply rounded text-black w-full shadow-sm  h-10 px-2
}

.my-text-area{
    @apply rounded w-full shadow-sm  px-2 h-28 text-black
}
